header {
  height: 110px;
  background-color: black;
}

ul li a {
  list-style: none;
}

.p {
  height: 32px;
  width: 115px;
  margin-left: -68px;
}

.header-top ul {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.header-top ul li {
  padding-left: 20px;
}
.header-top ul select {
  padding-left: 20px;
  margin-left: 20px;
}

.header-bottom ul {
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
}
.header-bottom ul a {
  color: white;
}

main {
  background-image: url("../imgP/img1.webp");
  height: 500px;
}
