header {
  height: 110px;
  background-color: black;
}

ul li a {
  list-style: none;
}

.p {
  height: 19px;
  margin-left: -68px;
}

.header-top ul {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}
.header-top ul li {
  padding-left: 20px;
}
.header-top ul li .white {
  color: blue;
  padding-right: 3px;
}
.header-top ul li a {
  text-decoration: none;
  color: white;
}
.header-top ul select {
  margin-right: 5px;
  margin-left: 10px;
}

.header-bottom ul {
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
  padding-top: 34px;
}
.header-bottom ul a {
  color: white;
  text-decoration: none;
}

main {
  background-image: url("../imgP/img1.webp");
  height: 500px;
}
