header{
  height: 120px;
  background-color: black;
}

.header-top ul{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  li{
    padding-left: 20px;
  }
  select{
    padding-left: 20px;
    margin-left: 20px;

  }
}

main{
  background-image: url('../imgP/img1.webp');
  height: 500px;
}
